.navbar{
    align-items: center;
    height: 60px;
    display: flex;
    padding-left: 50px;
    background: rgb(200 232 248);
    margin: 0;
}
.navbarItem{
    padding-right: 40px;
    font-size: larger;
}